.hero {
  height: 100vh;
  background: url("https://media.istockphoto.com/id/1080854998/pt/foto/house-under-construction-new-residential-building-with-support-element-and-brick-wall-on.jpg?s=1024x1024&w=is&k=20&c=zLhlwtetRjR1cZxGtBv7ktOdj3u3lNHUSCZWJO2WFXM=") center/cover no-repeat;
}
